{% extends 'base.html' %}

{% block content %}
<h1>Create Job</h1>
{% if pumps %}
    <form action="{{ url_for('autowater.create_job') }}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>

        <label for="pump_id">Pump</label>
        <select name="pump_id" id="pump_id" required>
            {% for pump in pumps %}
            <option value="{{ pump.id }}">{{ pump.name }}</option>
            {% endfor %}
        </select>
        <label for="quantity">Quantity (ml)</label>
        <input type="number" name="quantity" id="quantity" min="1" step="0.01" required>
        <label for="time">Time</label>
        <input type="time" name="time" id="time" required>
        <button type="submit">Create Job</button>
    </form>
{% else %}
    <p>No pumps found. <a class="button" href="{{ url_for('autowater.create_pump') }}">Create a pump</a></p>
{% endif %}
<p><a class="button" href="{{ url_for('autowater.schedule') }}">Back to schedule</a></p>
{% endblock %}
