{% extends 'base.html' %}

{% block content %}
<h1>Dashboard</h1>
<h2>Current Schedule</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Pump</th>
            <th>Quantity</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.name }}</td>
            <td>{{ job.pump }}</td>
            <td>{{ job.quantity }}</td>
            <td>{{ job.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Pumps</h2>
<table  id="status-container" data-pump-status-url="{{ url_for('autowater.pump_status') }}">
    <thead>
        <tr>
            <th>Name</th>
            <th>Running</th>
            <th>Last Run</th>
        </tr>
    </thead>
    <tbody>
        {% for pump in pumps %}
        <tr>
            <td>{{ pump.name }}</td>
            <td>
                <div class="pump-status-indicator" data-pump-id="{{ pump.id }}"></div>
            </td>
            <td>
                <p class="pump-last-run" data-pump-id="{{ pump.id }}"></p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p id="pump-status-text">Connecting...</p>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
{% endblock %}