{% extends 'base.html' %}

{% block content %}
<h1>Pumps</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>GPIO Pin</th>
            <th>Rate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for pump in pumps %}
        <tr>
            <td>{{ pump.name }}</td>
            <td>{{ pump.description }}</td>
            <td>{{ pump.gpio_pin }}</td>
            <td>{{ pump.rate }}</td>
            <td>
                <form action="{{ url_for('autowater.delete_pump') }}" method="post">
                    <input type="hidden" name="pump_id" value="{{ pump.id }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p><a class="button" href="{{ url_for('autowater.create_pump') }}">Create Pump</a></p>
{% endblock %}